 /* Mobile */
:root {
    background-color: rgb(233, 158, 158);
}

.page {
    height: 100vh;
    width: 100vw;
}

.footer {
    position: fixed;
    bottom: 2rem;
    width: 140px;
    left: calc(50% - 70px);
}

/* Web */